<ol class="breadcrumb page-breadcrumb">
    <li><a href="#">Home</a>
    </li>
    <li><a href="#">Fashion</a>
    </li>
    <li><a href="#">Woman</a>
    </li>
    <li><a href="#">Accessories</a>
    </li>
    <li class="active">Watches</li>
</ol>